.login-template {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.login-template__login {
  width: 716px;
  height: 100%;
  padding: 256px 0 0 121px;
}
.login-template__picture {
  width: 724px;
  height: 100%;
  background-image: url("./bg-template.png");
  background-color: #eff5ff;
}
.login-template__wellcome-wrap {
  margin-bottom: 53px;
}
