.chat-template {
  height: 100vh;
}
.chat-template__content {
  display: flex;
}
.chat-template__header {
  border-bottom: 1px solid #88abe3;
}
.chat-template__users {
  width: 30%;
  padding-top: 18px;
  border-right: 1px solid #88abe3;
}
.chat-template__dialog {
  width: 70%;
  flex-shrink: 3;
  background: url("./chat-bg.svg") no-repeat;
  background-size: cover;
  background-color: #eff5ff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.chat-template_user {
  margin-bottom: 8px;
}
.chat-template__content {
  height: calc(100% - 80px);
  display: flex;
}
