.chat-template__content {
  display: flex;
}
.chat-template__header {
  border-bottom: 1px solid #88abe3;
}
.chat-template__users {
  flex-basis: 361px;
  height: 100vh;

  padding-top: 18px;
  border-right: 1px solid #88abe3;
}
.chat-template__dialog {
  flex-basis: 1079px;
  flex-shrink: 3;
  height: 100vh;
  background: url("./chat-bg.svg") no-repeat;
  background-color: #eff5ff;
}
.chat-template_user {
  margin-bottom: 8px;
}
