.button-refresh {
  background: none;
  background-image: url("./refresh.svg");
  background-position: center center;
  background-size: contain;
  width: 17px;
  height: 17px;
  appearance: none;
  border: 0;
  cursor: pointer;
}
