.button {
  width: 233px;
  height: 56px;
  background-color: #5c98f1;
  font-family: "montserrat";
  font-size: 16px;
  color: #fff;
  border-radius: 8px;
  border: none;
}
.button:hover {
  background-color: #4583de;
}
.button:active {
  background-color: #2c6ac7;
}
.button[disabled] {
  background-color: #d1d1d1;
}
.button__state--hover {
  background-color: #4583de;
}
.button__state--active {
  background-color: #2c6ac7;
}
