@import "./utilities/fonts";

*,
*::before,
*::after {
  box-sizing: border-box;
}
h1 {
  font-size: 56px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 27px;
}

body {
  font-family: "montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
